AppleAndOrange/AppleAndOrange/obj/Debug/AppleAndOrange.csproj.AssemblyReference.cache
GeeksForGeeks/LeadersInAnArray/LeadersInAnArray.sln
GeeksForGeeks/LeadersInAnArray/.vs/LeadersInAnArray/DesignTimeBuild/.dtbcache.v2
*.sln
*.cache
*.pdb
*.dll
*.csproj
*.suo
*.lock
*csproj.nuget.g.props
*.dtbcache.v2
*.vsidx
*.json
*.AssemblyInfo.cs
*.exe
*.csproj.nuget.g.targets
*.futdcache.v2
*.suo
*.GeneratedMSBuildEditorConfig.editorconfig
