################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backtracking/Subset/.vs/Subset/FileContentIndex/deceaaa4-8141-453a-b6b5-074f904981ff.vsidx
/Backtracking/Subset/.vs/Subset/FileContentIndex/deceaaa4-8141-453a-b6b5-074f904981ff.vsidx
